@charset "utf-8";
/* CSS Document 
css cá»§a backend */
body
{
  background-color:#f7f7f7;
  font-family: 'Cabin', sans-serif;
}
iframe
{
  margin-top:10px;
  margin-bottom:15px;
}
.container
{
  background-color:#fff;
  padding-bottom:25px;
}
.navbar
{
   border-radius: 0 !important;
   background-color:#FD7100;
   border:none !important;
   margin-bottom:0px;
   min-height:0px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #fff;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color:#fff; /*BACKGROUND color for active*/
background-color: #333;
}
.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }
  
  dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #fff;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }
  
  .navbar-brand,
.navbar-nav li a {
    line-height: 30px;
    height: 30px;
    padding-top: 0;
}
  

.nav2 li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
  .nav2
{
   border-radius: 0 !important;
   background-color:#333333;
   border:none !important;
   margin-bottom:0px;
   border-bottom:2px solid #FD7100 !important;
}
  header
  {
    padding-top:10px;
    padding-bottom:10px;
  }
  
  .logo
  {
    width:300px;
    float:left;
  }
  .call
  {
    text-align:right;
  }
  .call h3
  {
    font-size:18px;
    line-height:1.2em;
  }
  .news h1
  {
    font-size:16px;
    font-weight:700;
    margin-top:10px;
    margin-bottom:0px;
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
  }
  .news span
  {
    color:#666;
    font-size:12px;
  }
  .entry-date
  {
    color:#FD7100;
  }
  .post
  {
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom: 15px;
    text-align: justify;
  }
  .popular h2
  {
    border-bottom:2px dotted #fabc93;
    padding-bottom:10px;
    border-top:2px dotted #FD7100;
    font-weight:600;
    font-size:20px;
    margin-bottom:15px;
    padding-top:10px;
    text-transform:uppercase;
  }
    .pnews img
  {
    width:100%;
  }
  .pnews h3
  {
    font-size:16px;
    font-weight:600;
  }
  .videos span
  {
    font-size:18px;
  }
  .psnelnews img
  {
    width:100%;
  }
  .psnelnews h3
  {
    font-size:16px;
    margin-top:10px;
    font-weight:600;
  }
  .full
  {
    background-color:#FD7100;
    padding-top:25px;
    padding-bottom:25px;
  }
  .custom
  {
    background-color:#333;
    color:#fff;
    border-radius:0px;
    margin-top:15px;
  }
  .navbar-toggle
  {
    border:none;
    
  }
  .icon-bar
  {
    background-color:#fff !important;
  }
  .navbar-toggle:hover, .navbar-toggle:focus
  {
    background:none !important;
  }
  .custom:hover
  {
    color:#fff;
  }
  .icon
  {
    font-size:36px !important;
    margin-right:15px;
  }
  .footerlink
  {
    background:none;
    color:#fff;

  }
  .form-control
  {
    border-radius:0px;
  }
  .footer
  {
    background-color:#333;
    text-align:center;
    color:#fff;
    padding-top:10px;
    padding-bottom:10px;
  }
  .line{
    
   border-bottom:2px dotted #fabc93;
  }
.adv{
  margin-bottom: 5px;
}